@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #837E9F;
}

body{
    margin: 0;
    height: 100vh;
    width: 100vh;
    

    background-color: #22212C;
    font-family: 'Merriweather Sans', sans-serif;   
    text-align: center;

    display: grid;
    grid-template-areas: 
    "lateral principal"
    "rodapé rodapé";
    grid-template-rows: 1fr 40px;
    grid-template-columns: 410px 1fr;
}

aside{
    grid-area: lateral;
}

main{
    grid-area: principal;

}

footer{
    grid-area: rodapé;
}

.container .profile{
    height: 292px;
    width: 348px;
    background-color: #302F3D;
    margin: 20px;
    border-radius: 15px;
    line-height: 1.5;
    text-align: center;
}