@import url('https://fonts.googleapis.com/css2?family=Merriweather+Sans:wght@400;500;700&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #837E9F;
}

body{
    margin: 0;
    height: 100vh;
    width: 100vh;
    

    background-color: #22212C;
    font-family: 'Merriweather Sans', sans-serif;   
    text-align: center;

    display: grid;
    grid-template-areas: 
    "lateral principal"
    "rodapé rodapé";
    grid-template-rows: 1fr 40px;
    grid-template-columns: 410px 1fr;
}

aside{
    grid-area: lateral;
}

main{
    grid-area: principal;

}

footer{
    grid-area: rodapé;
}

.container{
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.container .profile{
    height: 292px;
    width: 348px;
    background-color: #302F3D;
    margin: 20px;
    border-radius: 15px;
    line-height: 1.5;
    text-align: center;
}

.container .profile .image{
    height: 128px;
    width: 128px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 50%;

    margin: 0 auto;

    top: 50%;
    left: 50%;
}

.container .profile .image img{
    margin-top: 50px;
    
    height: 125px;
    width: 125px;
    border-radius: 50%;
    border: 2px solid #00FF00;
}

.container .profile .username{
    margin-top: 45px;
    font-weight: 700;
    font-size: 23px;
}

.container .profile .profission{
    margin-top: 0.5px;
    font-weight: 400;
    font-size: 13px;
}

.container .links{
    height: 348px;
    width: 348px;

    background-color: #302F3D;
    margin: 20px;
    border-radius: 15px;

    text-align: left;
    padding: 30px 20px;
    line-height: 2.5;
    font-size: 13px;
    font-weight: 500;
}

ol{
    list-style-type: none;
}

